In [20]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm
import pyarrow.parquet as pq
import requests
from tqdm import tqdm

In [13]:
# import November dataset
prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data/'
url = f'{prefix}yellow_tripdata_2025-11.parquet'
# stage nov_data locally first
local_file = "nov_data.parquet"
nov_data = pd.read_parquet(
    prefix + 'yellow_tripdata_2025-11.parquet'
   
)
nov_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 4181444 entries, 0 to 4181443
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     str
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), str(1)
memory usage: 593.3 MB

In [3]:
nov_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
4181439,2,2025-11-30 23:12:44,2025-11-30 23:43:26,NaN,10.62,NaN,NaN,68,169,0,33.16,0.0,0.5,0.0,6.94,1.0,44.85,NaN,NaN,0.75
4181440,1,2025-11-30 23:10:35,2025-11-30 23:28:24,NaN,6.50,NaN,NaN,48,116,0,22.17,0.0,0.5,0.0,0.00,1.0,26.92,NaN,NaN,0.75
4181441,2,2025-11-30 23:09:43,2025-11-30 23:36:08,NaN,8.10,NaN,NaN,145,152,0,-4.75,0.0,0.5,0.0,0.00,1.0,4.06,NaN,NaN,0.75
4181442,1,2025-11-30 23:29:41,2025-11-30 23:47:09,NaN,5.60,NaN,NaN,116,48,0,21.42,0.0,0.5,0.0,0.00,1.0,26.17,NaN,NaN,0.75
4181443,2,2025-11-30 23:59:06,2025-12-01 00:12:18,NaN,3.22,NaN,NaN,144,230,0,35.87,0.0,0.5,0.0,0.00,1.0,40.62,NaN,NaN,0.75

In [4]:
# check for nulls
nov_data.isna().sum()

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count          1014740
trip_distance                  0
RatecodeID               1014740
store_and_fwd_flag       1014740
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     1014740
Airport_fee              1014740
cbd_congestion_fee             0
dtype: int64

In [5]:
# change passenger count from float64 to int64
nov_data['passenger_count'] = nov_data['passenger_count'].astype('Int64')
nov_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 4181444 entries, 0 to 4181443
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        Int64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     str
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: Int64(1), datetime64[us](2), float64(12), int32(3), int64(1), str(1)
memory usage: 597.3 MB

In [6]:
nov_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
4181439,2,2025-11-30 23:12:44,2025-11-30 23:43:26,<NA>,10.62,NaN,NaN,68,169,0,33.16,0.0,0.5,0.0,6.94,1.0,44.85,NaN,NaN,0.75
4181440,1,2025-11-30 23:10:35,2025-11-30 23:28:24,<NA>,6.50,NaN,NaN,48,116,0,22.17,0.0,0.5,0.0,0.00,1.0,26.92,NaN,NaN,0.75
4181441,2,2025-11-30 23:09:43,2025-11-30 23:36:08,<NA>,8.10,NaN,NaN,145,152,0,-4.75,0.0,0.5,0.0,0.00,1.0,4.06,NaN,NaN,0.75
4181442,1,2025-11-30 23:29:41,2025-11-30 23:47:09,<NA>,5.60,NaN,NaN,116,48,0,21.42,0.0,0.5,0.0,0.00,1.0,26.17,NaN,NaN,0.75
4181443,2,2025-11-30 23:59:06,2025-12-01 00:12:18,<NA>,3.22,NaN,NaN,144,230,0,35.87,0.0,0.5,0.0,0.00,1.0,40.62,NaN,NaN,0.75

In [18]:
pq_file.schema

<pyarrow._parquet.ParquetSchema object at 0x75f24b769fc0>
required group field_id=-1 schema {
  optional int32 field_id=-1 VendorID;
  optional int64 field_id=-1 tpep_pickup_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional int64 field_id=-1 tpep_dropoff_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional int64 field_id=-1 passenger_count;
  optional double field_id=-1 trip_distance;
  optional int64 field_id=-1 RatecodeID;
  optional binary field_id=-1 store_and_fwd_flag (String);
  optional int32 field_id=-1 PULocationID;
  optional int32 field_id=-1 DOLocationID;
  optional int64 field_id=-1 payment_type;
  optional double field_id=-1 fare_amount;
  optional double field_id=-1 extra;
  optional double field_id=-1 mta_tax;
  optional double field_id=-1 tip_amount;
  optional double field_id=-1 tolls_amount;
  optional double field_id=-1 improvement_surcharge;
  optional double field_id=-1 total_amount;
  optional double field_id=-1 congestion_surcharge;
  optional double field_id=-1 Airport_fee;
  optional double field_id=-1 cbd_congestion_fee;
}

In [19]:
# create engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
# stage data locally first
with requests.get(url, stream=True) as r:
    r.raise_for_status()
    with open(local_file, "wb") as f:
        for chunk in r.iter_content(chunk_size=1024 * 1024):
            f.write(chunk)
# create a parquet iterator
pq_file = pq.ParquetFile(local_file)

# get the number of batches
num_batches = pq_file.num_row_groups

for batch in tqdm(
    pq_file.iter_batches(batch_size=100_000),
    total=num_batches,
    desc="Ingesting parquet"
):
    df = batch.to_pandas()
    # preprocessing
    df["passenger_count"] = df["passenger_count"].astype("Int64")

    # write to SQL
    df.to_sql(
        "yellow_taxi_trips_homework1",
        engine,
        if_exists="append",
        index=False
    )

Ingesting parquet: 42it [06:09,  8.79s/it]