In [1]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm
import pyarrow.parquet as pq
import requests
from tqdm import tqdm

In [2]:
# prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
df = pd.read_csv(url)
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [3]:
df.shape

(265, 4)

In [4]:
df.isnull().sum()

LocationID      0
Borough         1
Zone            1
service_zone    2
dtype: int64

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    str
 2   Zone          264 non-null    str
 3   service_zone  263 non-null    str
dtypes: int64(1), str(3)
memory usage: 17.0 KB